#inputcontainer {
    
    /* padding: 3em;
    margin: 2em; */
    
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#inputs {

    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
    border: 10px double black;
    
}

#shapeCanvas {
    height: 600px;
    width: 600px;
    background-color: bisque;
    position: relative;
    margin: 1em;
    border-radius: 1em;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

.shape-informationLabel {
    font-weight: 500;
    font-size: 1rem;
    color: brown;    
}

#sidePanel{
    height: 300px;
    width: 300px;
    background-color: azure;
    position: absolute;
}

#canvas {
    /* position: relative; */
}

#squareButton {
    background-color: blanchedalmond;

    /* margin: 3em */
}

.Shape {
    position: absolute;
}

.h1class {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rectangleinput1 {
    /* margin: 10px; */
}

#rectangleinput2 {
    /* margin: 10px; */
}

#Circle {
    border-radius: 50%;
}

#Triangle {
    width: 0;
    height: 0;
    border-bottom-style: solid;
    border-bottom-right-radius: .125rem;
    border-right-style: solid;
    border-right-color: transparent;
    border-top-left-radius: .125rem;
}